
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Blog/Master.cshtml";
}

<div class="containe-fluid">
    <div class="row">

        <div class="wall-baner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="imgwall">
                        <div class="w-40">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="img-wall-block">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall1.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>spor</span>
                                            <h6>biraz taraf, biraz da hakikat</h6>
                                        </div>
                                    </div>
                                    <div class="img-wall-block">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall2.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>eğitim</span>
                                            <h6>Eğitim en büyük kazanç</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="img-wall-block">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall3.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>teknoloji</span>
                                            <h6>Bakmadan geçme</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-60">
                            <div class="row">
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                    <div class="img-wall-block">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall4.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>bölgesel</span>
                                            <h6>Hayran olmamak elde değil</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="img-wall-block">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall5.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>seyahat</span>
                                            <h6>Gezdikçe yazalım</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="img-wall-block">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall6.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>ipuçları</span>
                                            <h6>Her alanda gerekli</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="img-wall-block last-wall">
                                        <img src="http://demo.nrgthemes.com/projects/simplissimowp/wp-content/uploads/2015/04/imgwall7.jpg" alt="image wall">
                                        <div class="wall-title">
                                            <span>türkiye</span>
                                            <h6>Tespit gibi tespitler</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="post-sec">
        <div class="row">

            <!--======= POST SECTION =========-->
            <div class="col-md-8">

                <!--======= POST =========-->
                <div class="post">
                    <div class="multi-images first-post">
                        <ul>
                            <li>
                                <img class="img-responsive" src="../../images/img-1.jpg" alt="">
                                <div class="img-over"> <a class="image-popup" href="../../images/img-1.jpg" title=""> <i class="fa fa-expand"></i> </a></div>
                            </li>
                        </ul>
                    </div>
                    <!--======= POST IMAGE =========-->

                    <article>

                        <ul class="row">

                            <!--======= POST DATE =========-->
                            <li class="col-sm-3">
                                <div class="date"> <span class="day">WED</span> <span class="big">24</span> <span>December 2014</span> </div>
                                <div class="date"> <span class="big">2</span> <span>COMMENTS</span> </div>
                            </li>

                            <!--======= POST TEXT =========-->
                            <li class="col-sm-9">
                                <span class="tags"> <span> photography </span> </span>
                                <h4><a href="standard-post.html" class="tittle">very basic post</a></h4>
                                <p>
                                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. <br>
                                    <br>
                                    She lived with her husband on a farm at the edge of town. The sweet spicy smell of ginger bread brought children skipping and running to see what would be offered. Unfortunately the children gobbled up the treats so fast that the old woman had a hard time keeping her supply of flour and spices to continue making the batches of ginger bread.
                                </p>
                                <a class="btn" href="standard-post.html">Read More</a>
                                <ul class="social_icons">
                                    <li class="twitter"><a href="#small-dialog" class="zoom popup-with-move-anim"><i class="fa fa-envelope"></i></a></li>
                                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                    <li class="blogger"><a href="#."><i class="fa fa-rss"></i></a></li>
                                    <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>

                    </article>
                </div>

                <!--======= MULTI IMAGES POST =========-->
                <div class="post">

                    <!--======= POST IMAGES =========-->
                    <div class="multi-images">
                        <ul>
                            <li>
                                <img class="img-responsive" src="../../images/s-img-1.jpg" alt="">
                                <div class="img-over"> <a class="image-popup" href="../../images/img-1.jpg" title=""> <i class="fa fa-expand"></i> </a></div>
                            </li>
                            <li>
                                <img class="img-responsive" src="../../images/s-img-2.jpg" alt="">
                                <div class="img-over"><a class="image-popup" href="../../images/img-1.jpg" title=""> <i class="fa fa-expand"></i> </a></div>
                            </li>
                            <li>
                                <img class="img-responsive" src="../../images/s-img-3.jpg" alt="">
                                <div class="img-over"><a class="image-popup" href="../../images/img-1.jpg" title=""> <i class="fa fa-expand"></i> </a></div>
                            </li>
                            <li>
                                <img class="img-responsive" src="../../images/s-img-4.jpg" alt="">
                                <div class="img-over"><a class="image-popup" href="../../images/img-1.jpg" title=""> <i class="fa fa-expand"></i> </a></div>
                            </li>
                        </ul>
                    </div>
                    <article>

                        <ul class="row">

                            <!--======= POST DATE =========-->
                            <li class="col-sm-3">
                                <div class="date"> <span class="day">WED</span> <span class="big">24</span> <span>December 2014</span> </div>
                                <div class="date"> <span class="big">2</span> <span>COMMENTS</span> </div>
                            </li>

                            <!--======= POST TEXT =========-->
                            <li class="col-sm-9">
                                <span class="tags"> <span> photography </span> </span>
                                <h4><a href="multiple-photos-post.html" class="tittle">multiple photos post</a></h4>
                                <p>
                                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. <br>
                                    <br>
                                    She lived with her husband on a farm at the edge of town. The sweet spicy smell of ginger bread brought children skipping and running to see what would be offered. Unfortunately the children gobbled up the treats so fast that the old woman had a hard time keeping her supply of flour and spices to continue making the batches of ginger bread.
                                </p>
                                <a class="btn" href="multiple-photos-post.html">Read More</a>
                                <ul class="social_icons">
                                    <li class="twitter"><a href="#small-dialog" class="zoom popup-with-move-anim"><i class="fa fa-envelope"></i></a></li>
                                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                    <li class="blogger"><a href="#."><i class="fa fa-rss"></i></a></li>
                                    <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>

                <!--======= GALLERY POST =========-->
                <div class="post">

                    <!--======= POST IMAGES =========-->
                    <div class="gallery-post">
                        <div id="owl-gallery">
                            <div class="item"><img src="../../images/img-2.jpg" alt=""></div>
                            <div class="item"><img src="../../images/img-3.jpg" alt=""></div>
                            <div class="item"><img src="../../images/img-4.jpg" alt=""></div>
                        </div>
                    </div>
                    <article>

                        <ul class="row">

                            <!--======= POST DATE =========-->
                            <li class="col-sm-3">
                                <div class="date"> <span class="day">WED</span> <span class="big">24</span> <span>December 2014</span> </div>
                                <div class="date"> <span class="big">2</span> <span>COMMENTS</span> </div>
                            </li>

                            <!--======= POST TEXT =========-->
                            <li class="col-sm-9">
                                <span class="tags"> <span> photography </span> </span>
                                <h4><a href="gallery-post.html" class="tittle">gallery post</a></h4>
                                <p>
                                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. <br>
                                    <br>
                                    She lived with her husband on a farm at the edge of town. The sweet spicy smell of ginger bread brought children skipping and running to see what would be offered. Unfortunately the children gobbled up the treats so fast that the old woman had a hard time keeping her supply of flour and spices to continue making the batches of ginger bread.
                                </p>
                                <a class="btn" href="gallery-post.html">Read More</a>
                                <ul class="social_icons">
                                    <li class="twitter"><a href="#small-dialog" class="zoom popup-with-move-anim"><i class="fa fa-envelope"></i></a></li>
                                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                    <li class="blogger"><a href="#."><i class="fa fa-rss"></i></a></li>
                                    <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>

                <!--======= VIDEO POST =========-->
                <div class="post">

                    <!--======= POST VIDEO =========-->
                    <iframe src="http://player.vimeo.com/video/8362481"></iframe>
                    <article>
                        <ul class="row">

                            <!--======= POST DATE =========-->
                            <li class="col-sm-3">
                                <div class="date"> <span class="day">WED</span> <span class="big">24</span> <span>December 2014</span> </div>
                                <div class="date"> <span class="big">2</span> <span>COMMENTS</span> </div>
                            </li>

                            <!--======= POST TEXT =========-->
                            <li class="col-sm-9">
                                <span class="tags"> <span> photography </span> </span>
                                <h4><a href="video-post.html" class="tittle">cool video post</a></h4>
                                <p>
                                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. <br>
                                    <br>
                                    She lived with her husband on a farm at the edge of town. The sweet spicy smell of ginger bread brought children skipping and running to see what would be offered. Unfortunately the children gobbled up the treats so fast that the old woman had a hard time keeping her supply of flour and spices to continue making the batches of ginger bread.
                                </p>
                                <a class="btn" href="video-post.html">Read More</a>
                                <ul class="social_icons">
                                    <li class="twitter"><a href="#small-dialog" class="zoom popup-with-move-anim"><i class="fa fa-envelope"></i></a></li>
                                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                    <li class="blogger"><a href="#."><i class="fa fa-rss"></i></a></li>
                                    <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>

                <!--======= SIMPLE TEXT POST =========-->
                <div class="post">
                    <article>
                        <ul class="row">

                            <!--======= POST DATE =========-->
                            <li class="col-sm-3">
                                <div class="date"> <span class="day">WED</span> <span class="big">24</span> <span>December 2014</span> </div>
                                <div class="date"> <span class="big">2</span> <span>COMMENTS</span> </div>
                            </li>

                            <!--======= POST TEXT =========-->
                            <li class="col-sm-9">
                                <span class="tags"> <span> photography </span> </span>
                                <h4><a href="simple-text-post.html" class="tittle">simple text post</a></h4>
                                <p>
                                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. <br>
                                    <br>
                                    She lived with her husband on a farm at the edge of town. The sweet spicy smell of ginger bread brought children skipping and running to see what would be offered. Unfortunately the children gobbled up the treats so fast that the old woman had a hard time keeping her supply of flour and spices to continue making the batches of ginger bread.
                                </p>
                                <a class="btn" href="simple-text-post.html">Read More</a>
                                <ul class="social_icons">
                                    <li class="twitter"><a href="#small-dialog" class="zoom popup-with-move-anim"><i class="fa fa-envelope"></i></a></li>
                                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                    <li class="blogger"><a href="#."><i class="fa fa-rss"></i></a></li>
                                    <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>

                    </article>
                </div>

                <!--======= SIMPLE TEXT POST =========-->
                <div class="post">

                    <!-- Place somewhere in the <body> of your page -->
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li> <img class="img-responsive" src="../../images/img-1.jpg" alt=""> </li>
                            <li> <img class="img-responsive" src="../../images/img-2.jpg" alt=""> </li>
                            <li> <img class="img-responsive" src="../../images/img-3.jpg" alt=""> </li>
                            <li> <img class="img-responsive" src="../../images/img-4.jpg" alt=""> </li>
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li> <img class="img-responsive" src="../../images/img-4.jpg" alt=""> </li>
                            <li> <img class="img-responsive" src="../../images/img-1.jpg" alt=""> </li>
                            <li> <img class="img-responsive" src="../../images/img-2.jpg" alt=""> </li>
                            <li> <img class="img-responsive" src="../../images/img-3.jpg" alt=""> </li>

                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                    <article>
                        <ul class="row">

                            <!--======= POST DATE AND COMMENTS =========-->
                            <li class="col-sm-3">
                                <div class="date"> <span class="day">WED</span> <span class="big">24</span> <span>December 2014</span> </div>
                                <div class="date"> <span class="big">2</span> <span>COMMENTS</span> </div>
                            </li>

                            <!--======= POST TEXT =========-->
                            <li class="col-sm-9">
                                <span class="tags"> <span> photography </span> </span>
                                <h4><a href="gallery-thumb-post.html" class="tittle">gallery thumbnail post</a></h4>
                                <p>
                                    Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. <br>
                                    <br>
                                    She lived with her husband on a farm at the edge of town. The sweet spicy smell of ginger bread brought children skipping and running to see what would be offered. Unfortunately the children gobbled up the treats so fast that the old woman had a hard time keeping her supply of flour and spices to continue making the batches of ginger bread.
                                </p>
                                <a class="btn" href="gallery-thumb-post.html">Read More</a>
                                <ul class="social_icons">
                                    <li class="twitter"><a href="#small-dialog" class="zoom popup-with-move-anim"><i class="fa fa-envelope"></i></a></li>
                                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                    <li class="blogger"><a href="#."><i class="fa fa-rss"></i></a></li>
                                    <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>
                <!--======= PAGINATION =========-->
                <ul class="pagination">
                    <li class="left-arrow"><a href="#.">&larr;</a></li>
                    <li><a class="curent" href="#.">1</a></li>
                    <li><a href="#.">2</a></li>
                    <li><a href="#.">3</a></li>
                    <li><a href="#.">4</a></li>
                    <li class="right-arrow"><a href="#.">&rarr;</a></li>
                </ul>
            </div>

            <!--======= RIGHT SIDE BAR =========-->
            <div class="col-md-4">
                <div class="right-bar">

                    <!--======= ABOUT  =========-->
                    <div class="about">
                        <img class="img-responsive" src="../../images/about-img.jpg" alt="">
                        <p>Hola! I'm Carmen: MOMMY. Teacher. Life Coach. Advice Columnist. Stress Management and Burn out Prevention Coach. Wannabe Foodie.</p>
                    </div>
                    <div class="recent-post">
                        <h6>popular articles</h6>
                        <ul>

                            <!--======= RECENT POST  =========-->
                            <li>
                                <div class="r-img"> <img class="img-responsive" src="../../images/r-img-1.jpg" alt=""> </div>
                                <a href="#.">
                                    Book & Pen On a Desk
                                    Office
                                </a>
                                <p>The foolish and tricky donkey again set on its way. On reach ing the  river he again fell...</p>
                            </li>

                            <!--======= RECENT POST  =========-->
                            <li>
                                <div class="r-img"> <img class="img-responsive" src="../../images/r-img-2.jpg" alt=""> </div>
                                <a href="#.">
                                    Book & Pen On a Desk
                                    Office
                                </a>
                                <p>The foolish and tricky donkey again set on its way. On reach ing the  river he again fell...</p>
                            </li>

                            <!--======= RECENT POST  =========-->
                            <li>
                                <div class="r-img"> <img class="img-responsive" src="../../images/r-img-3.jpg" alt=""> </div>
                                <a href="#.">
                                    Book & Pen On a Desk
                                    Office
                                </a>
                                <p>The foolish and tricky donkey again set on its way. On reach ing the  river he again fell...</p>
                            </li>
                        </ul>
                    </div>

                    <!--======= SPONSER BANNER  =========-->
                    <div class="spon-bnr"> <img class="img-responsive" src="../../images/bnr.jpg" alt=""> </div>

                    <!--======= CURRENT GIVEAWAY =========-->
                    <div class="recent-post">
                        <h6>current giveaways</h6>
                        <ul>

                            <!--======= RECENT POST  =========-->
                            <li class="recent-post-give">
                                <div class="r-img"> <img class="img-responsive" src="../../images/r-img-1.jpg" alt=""> </div>
                                <a href="#.">The Ultimate Christmas Gift Card $100</a>
                                <p>The foolish and tricky donkey again set on its way. </p>
                                <span>6 days left</span>
                            </li>

                            <!--======= RECENT POST  =========-->
                            <li class="recent-post-give">
                                <div class="r-img"> <img class="img-responsive" src="../../images/r-img-2.jpg" alt=""> </div>
                                <a href="#.">7 Genius Multi-Effect Photo Cameras</a>
                                <p>The foolish and tricky donkey again set on its way. </p>
                                <span>9 days left</span>
                            </li>
                        </ul>
                    </div>

                    <!--======= TAGS  =========-->
                    <div class="tags">
                        <h6>TAGS</h6>
                        <ul>
                            <li><a href="#.">blogs </a></li>
                            <li><a href="#.">photograph </a> </li>
                            <li><a href="#."> classybedrooms </a> </li>
                            <li><a href="#."> The Monday</a> </li>
                            <li><a href="#."> fashionista </a> </li>
                            <li><a href="#.">online </a> </li>
                            <li><a href="#.">shop </a> </li>
                            <li><a href="#.">instagram</a> </li>
                            <li><a href="#."> pinky </a> </li>
                            <li><a href="#.">lovely </a> </li>
                            <li><a href="#.">thing </a> </li>
                            <li><a href="#.">christmas</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

