.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs7294CA65{color:#000000;background-color:transparent;font-family:Verdana;font-size:9pt;font-weight:normal;font-style:normal;}
.cs1157FFE2{text-align:right;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs5719E085{color:#000000;background-color:transparent;font-family:Verdana;font-size:9pt;font-weight:bold;font-style:normal;}
.csE415D2D4{text-align:justify;text-indent:135pt;margin:0pt 0pt 0pt 0pt}
.cs4AFCEA52{text-align:left;text-indent:135pt;margin:0pt 0pt 0pt 0pt}
.cs15323895{color:#000000;background-color:transparent;font-family:Verdana;font-size:10pt;font-weight:normal;font-style:normal;}
