.cs2E86D3A6{text-align:center;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs87657D60{color:#000000;background-color:transparent;font-family:Century Gothic;font-size:12pt;font-weight:bold;font-style:normal;}
.cs80D9435B{text-align:justify;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs669AEE82{color:#000000;background-color:transparent;font-family:Century Gothic;font-size:12pt;font-weight:normal;font-style:normal;}
.csFC41765{text-align:justify;text-indent:35pt;margin:0pt 0pt 0pt 0pt}
