
@{
    ViewBag.Title = "Serigrafi Baskı & Bas Kes &Transfer Baskı & Dijital Baskı ";
    ViewBag.Description = "Uygun maliyetlerle,Yüksek Teknoloji baskı seçenekleriyle hızlı teslimat. Kurumsal baskılı ve kişiye özel ürünler ";
    ViewBag.Keywords = "serigrafi baskı,transfer baskı,reflektör baskı, dijital baskı,flok baskı,flex baskı,emprime baskı,baskes baskı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "Golden-Logo-last.png";
}


<main class="animsition-overlay" data-animsition-overlay="true">

    <!-- light-bg-1 start -->
    <div id="down" class="dark-bg-2 bottom-padding-30 top-padding-120" data-midnight="black">
        <!-- container start -->
        <!--<div data-animation-container class="container small bottom-padding-60 text-center">
            <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">Recent Works</h2><br>
            <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5" data-animation="fade-anim">We Offer Digital Solutions</p>
        </div><!-- container end -->
        <!-- bottom-padding-90 start -->
        <div data-animation-container class="text-center container small">
            <h1 data-animation-child class="large-title text-height-10 title-fill" data-animation="title-fill-anim" data-text="BASKI TEKNİKLERİ">BASKI TEKNİKLERİ</h1><br>
            <p data-animation-child class="tr-delay02 xsmall-title-oswald top-margin-5 title-fill" data-animation="title-fill-anim" data-text="HİZMETLERİMİZ">HİZMETLERİMİZ</p>
            <p data-animation-child class="text-color-5 p-style-small tr-delay04" data-animation="fade-anim">
                <b>Serigrafi Baskı</b><br />
                Serigrafi, bir seri baskı yapma şeklidir. Geçmişi çok eskilere uzanan bu sanat dalı son zamanlarda sanayinin de gelişmesi ile endüstriyel ürünlerin markalanmasında büyük önem kazanmıştır. Ahşap ya da metal bir çerçeveye gerilen değişik türdeki polyester ipek kumaşının fotofilm emülsiyon denilen bir film tabakasıyla kaplanıp ışıkta pozlandıktan sonra basılması gereken grafik, bu kumaşa bir şablon gibi çıkar. Işığa duyarlı bölgeler suyun yardımı ile boşaltılır ve hassas bir şablon oluşur. Bu şablona kalıp denir. Bir ragle (ağzı keskin bir kauçuk) yardımı ile baskı yapılır. Serigrafi baskı her türlü malzeme ve yüzeye uygulanabilir. Yuvarlak baskılar yapılabilir. Aynı zamanda matbaanın baskı yapamadığı metal, seramik, kumaş ve cam gibi malzemelere baskı serigrafi ile yapılır. Elektroniğin bel kemiğidir. Serigrafi sayesinde devre kartları daha net ve temiz olarak yapılmaktadır. Son yıllarda serigrafi endüstrinin olmazsa olmazları arasına girmiştir.
                <br />
                <br />
                <b>Transfer Baskı</b><br />
                Transfer baskı, özel kâğıt üzerine uygulanan boyanın diğer basılacak materyaller üstüne ısı ve basınç ile basılması, geçirilmesi yöntemidir. 3 ayrı transfer baskı tekniği vardır.<br />
                1-Süblime Baskı (Kağıt üzerine ofset ve dijital baskı ile uygulanan desenin tekstil porselen vs. gibi polyester veya polyester kaplanmış materyallere ısı ve basınç ile aktarılması tekniğidir.)<br />
                2-Serigrafi Baskı (Genelde 1 ve 3 renk arası desenlerin özel kağıda uygulanması ve ısı basınç yöntemi ile genelde tekstil ürünleri ve çeşitli materyallerin üzerine uygulanan tekniktir. En iyi renk kalitesi alınan tekniktir.)<br />
                3-Ofset Matbaa Transfer Baskı (Özel transfer kağıdının çok renkli özellikle fotoğraf özelliğindeki desenlerin ofset makinesinde basılması sonrasında serigraf tekniği ile plastisol veya su bazlı boyalarla arka kapama işlemi ve hotmelt  uygulanması ile diğer materyallere (tekstil, saraciye) gibi ürünlere transfer presleri ile ısı ve basınç  yöntemi ile uygulanan baskı tekniğidir.
                <br />
                <br />
                <b>Reflektör Baskı</b><br />
                İçerisinde reflektör özelliği olan boya maddeler istenilen baskı yöntemiyle transfer kağıdına basılır. Daha sonra uygulanacak yüzeye pres yöntemi ile aktarılır. Reflektör özelliğini hiçbir zaman kaybetmez. Kullanım alanı çok geniştir.<br />
                Uygulaması çok basittir. 150-160c derecede 10sn düşük basınç ile gerçekleştirilir. Presleme işleminden sonra taşıma filimi ılık açılır. Yıkama dayanıklılığı tersten yıkanıp ütülendiği taktirde yüksektir. Reflektöre ihtiyaç duyulan bütün yüzeylerde kullanılabilir.
                <br />
                <br />
                <b>Dijital Baskı</b><br />
                Dijital baskı dijital bazlı görselin doğrudan çeşitli materyallerin üzerine basılması. Genellikle profesyonel baskı küçük işlerin masaüstü yayıncılık ve diğer dijital kaynakları basılı kullanarak büyük formatlı ve/veya yüksek hacimli lazer veya mürekkep püskürtmeli yazıcılar ile basılma işlemidir. Dijital baskı; ofset baskı yöntemlerine göre sayfa başı maliyet olarak yüksektir, Ofsete göre daha hızlı baskıya alınma ve ofsette kullanılan metal kalıpların olmaması nedeniyle tercih edilir. Taleplere daha hızlı cevap verilir, istenildiği anda baskı yapılabilir.Gelişen teknoloji, zamandan tasarrufun önem kazanması ile de ve dijital baskıda düşen maliyetler bu sistemin kullanılmasını ve tercih sebebi olmasını kolaylaştırmıştır.
                <br />
                <br />
                <b>Flok Baskı</b><br />
                Flok baskı kadifemsi bir dokuya sahiptir.İthal malzeme kullanılır.Sınırlı renk seçeneğine sahiptir.Ortalama yıkama ömrü 40 yıkamadır.Flok baskı malzemesinin plotter veya lazer makine ile kesilmesi ile sıcak preste yüzeye 160-180 derece aralığında 10-15 saniye baskı süresi ile yapıştırılması ile yapılır.
                <br />
                <br />
                <b>Flex Baskı</b><br />
                Hazır renkli transfer baskı folyolarından plotterlerde kesilerek, taşıyıcı sayesinde tekstil yüzeyine prese hazır hale getirilir. Pamuklu ve polyester olarak her türlü yüzeyde rahatça ve kalıcı olarak uygulanır. Renkli yüzeylerde, kalın malzeme yapısı sayesinde kesinlikle kumaş rengini baskı yüzeyine vermez. Renk seçeneğinin çokluğundan dolayı en çok tercih edilen sistemlerimizden biridir. Sıcak Pres sistemi ile kağıdı kumaşa pres yaparak yapıştıran baskı türüne flex baskı denir. Flex baskı özel flexi kağıdı ile olur. Yalnız herhangi bir çeşit kağıt kullanılmaz. Herhangi zemin üzerine baskı mümkündür.
                <br />
                <br />
                <b>Emprime Baskı</b><br />
                Emprime baskı tekniği ilk çıkan baskı çeşitlerindendir. Emprime kalıp ve ipek ile yapılır. Öncelikle baskı alanı kadar bir kalıp hazırlanır ve sonra bu kalıpa gergin olacak şekilde ipek döşenir. Emprime baskı için artık kalıp hazırdır. Bu aşamadan sonra basılacak olan logo veya desenin şekli aydınger kağıdına çıkartılır ve kalıpa yerleştirilir. Bu aşamadan sonra emprime boyası kalıbın üzerine dökülür ve rakle ile baskıya geçilir. Emprime baskılar da resim baskısı yapılamaz. Degrade yani renk geçişleri yapılamaz. Bu baskı türü emprime baskı da sadece standart renkler basılır.
                <br />
                <br />
                <b>Baskes baskı </b><br />
                Dijital baskı makinalarında basılan ürünlerin, yine aynı makinada veya optik okuyuculu folyo kesim makinalarında sadece ürün kalacak şekilde etrafındaki fazlalıkların kesilme işlemidir. Grafik tasarım işlemleri bittikten sonra ürünün baskı makinası gönderilmesi ile işlem başlar. Baskı makinası önce görselleri özel boyasıyla boyar. Baskının dizim şekline göre hazırlanmış şablon ile kesimi yapılır ve çıktıktan sonra etrafındaki fazlalıklar alınır işlem tamamlanmış olur. Daha sonra bir pres aracılığıyla istenilen kumaşın üzerine belirli ısıda aktarılır.
                <br />
                <br />
            </p>

            <!--<div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
                <a href="#" class="arrow-btn pointer-large animsition-link">Read more</a>
            </div>-->

        </div>
        <div class="portfolio-slider2 top-bottom-padding-90">
            <!-- swiper-wrapper start -->
            <div class="swiper-wrapper">
                <!-- slide start -->
                <a href="#" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/baski.jpg" alt="Baskı Teknikleri">
                    </div>

                </a>
                <a href="#" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/baski2.jpg" alt="Baskı Teknikleri">
                    </div>

                </a>
                <a href="#" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/baski3.jpg" alt="Baskı Teknikleri">
                    </div>

                </a>


            </div>
        </div>
    </div><!-- column end -->


</main><!-- animsition-overlay end -->