
@{
    ViewBag.Title = "Baskılı Bez Çanta & Kişiye Özel Çanta";
    ViewBag.Description = "Doğa dostu baskılı bez çantalar. Kişiye özel ölçüler ve baskı seçenekleriyle.";
    ViewBag.Keywords = "promosyon çanta,bez çanta,baskılı çanta,kumaş çanta,kişiye özel çanta,çanta baskısı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "Golden-Logo-last.png";
}

    <main class="animsition-overlay" data-animsition-overlay="true">
        <!-- page-head start -->
        <div id="down" class="dark-bg-2 bottom-padding-30 top-padding-120" data-midnight="black">
            <!-- container start -->
            <!--<div data-animation-container class="container small bottom-padding-60 text-center">
        <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">Recent Works</h2><br>
        <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5" data-animation="fade-anim">We Offer Digital Solutions</p>
    </div><!-- container end -->
            <!-- bottom-padding-90 start -->
            <div data-animation-container class="text-center container small">
                <h1 data-animation-child class="large-title text-height-10 title-fill" data-animation="title-fill-anim" data-text="ÇANTA BASKI">ÇANTA BASKI</h1><br>
            </div>
        <br />
            <div class="container">

                <!-- filter-buttons start -->
                <!-- filter-buttons end -->
                <!-- works start -->
                <div class="works">

                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta8.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta11.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta10.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta9.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta7.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta6.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta5.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->

                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta3.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta2.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                    <a class="grid-item marketing">
                        <div class="work_item pointer-large hover-box hidden-box">
                            <img class="hover-img" src="~/assets/images/projects/slider/canta.jpg" alt="Çanta Baskı">

                        </div>
                    </a><!-- grid-item end -->
                   
                </div><!-- works end -->
            </div><!-- container end -->

            <div data-animation-container class="text-center container small">
                <p data-animation-child class="text-color-5 p-style-small tr-delay04" data-animation="fade-anim">Kişiselleştirilmiş baskılı çantalar, etkinliğinizi veya işinizi tanıtmak için katma değerli, bütçeye uygun harika bir yoldur! Özel bez çantalar, fuarlar, okullar, düğünler ve temalı partiler için mükemmel bir fırsattır. Müşterilerinize, parti ve düğün misafirlerinize vermek için hazırladığınız hediyelerinizi bez çantalar ile takdim edin.</p>
            </div>



        </div><!-- column end -->


    </main><!-- animsition-overlay end -->
