
@{
    ViewBag.Title = "Mutfak Önlüğü & Kişiye Özel Baskılı Önlük & Forma Baskısı & Rejisör Sandalyesi";
    ViewBag.Description = "Kendinize ve eşinize özel mutfak önlükleri. İstediğiniz renk ve bedenler, kaliteli baskı seçenekleriyle";
    ViewBag.Keywords = "özel ürünlere baskı,forma baskı,Mutfak önlüğü,kişiye özel baskılı önlük,stor perde baskısı,rejisör koltuk ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "Golden-Logo-last.png";
}


<main class="animsition-overlay" data-animsition-overlay="true">

    <!-- light-bg-1 start -->
    <div id="down" class="dark-bg-2 bottom-padding-30 top-padding-120" data-midnight="black">
        <!-- container start -->
        <!--<div data-animation-container class="container small bottom-padding-60 text-center">
        <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">Recent Works</h2><br>
        <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5" data-animation="fade-anim">We Offer Digital Solutions</p>
    </div><!-- container end -->
        <!-- bottom-padding-90 start -->
        <div data-animation-container class="text-center container small">
            <h1 data-animation-child class="large-title text-height-10 title-fill" data-animation="title-fill-anim" data-text="DİĞER BASKI İŞLERİ">DİĞER BASKI İŞLERİ</h1><br>
        </div>
    <br />
        <div class="container">

            <!-- filter-buttons start -->
            <!-- filter-buttons end -->
            <!-- works start -->
            <div class="works">

                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski2.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski3.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski4.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski5.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski6.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski7.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/diger_baski8.jpg" alt="Diğer Baskılar">

                    </div>
                </a><!-- grid-item end -->

            </div><!-- works end -->
        </div><!-- container end -->





        <div data-animation-container class="text-center container small">
            <p data-animation-child class="text-color-5 p-style-small tr-delay04" data-animation="fade-anim">
                Serigrafi,Dijital,Transfer  gibi bir çok baskı türünü yapabildiğimiz için neredeyse tüm kumaşların üzerine istediğiniz logo ve markayı basabilmekteyiz. Örneğin, tuttuğunuz takımın formasını satın aldınız ve sırt kısmına numara ve adınızı yazacaksınız. Eşinize veya kendinize bir mutfak önlüğü satın aldınız ve ön kısmına bir slogan yazacaksınız. Stor perdeniz var ve üzerinde reklamınız olmasını istiyorsunuz. Bir mağazanız var ve gündüzleri içeriye güneş vurduğu için orayı belirli süre bir branda veya bezle kapatmak istiyorsunuz. Kapatırken de üzerinde mağazanızın ismini istiyorsunuz. Evet bunların hepsini yapabiliyoruz. Bizimle hemen iletişime geçerek aklınızdakileri bize söylemeniz yeterlidir.
            </p>
        </div>

    </div><!-- column end -->


</main><!-- animsition-overlay end -->