
@{
    ViewBag.Title = "Golden Reklam Dijital Baskı Merkezi";
    ViewBag.Description = "Firmanıza ve şahsınıza özel tişört,sweatshirt,şapka,şemsiye,minder,çanta,çardak ve tüm promosyon ürünlerini yüksek baskı tekniğiyle sizlere sunuyoruz";
    ViewBag.Keywords = "tişört baskı,şemsiye baskı,tente baskı,mindere baskı,çardak baskı,branda baskı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "Golden-Logo-Son.png";
}
<link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<main class="animsition-overlay" data-animsition-overlay="true">
    <!-- page-head start -->
    <section class="home-slider" id="up">
        <!-- swiper-wrapper start -->
        <div class="swiper-wrapper">
            <!-- swiper-slide start -->
            <!-- swiper-slide start -->

            <div class="swiper-slide flex-min-height-box home-slide">
                <!-- slide-bg -->
                <div class="slide-bg overlay-loading2 overlay-dark-bg-2" style="background-image:url(assets/images/backgrounds/is_elbisesi.jpg)"></div>
                <!-- home-slider-content start -->
                <div class="home-slider-content flex-min-height-inner dark-bg-2">
                    <!-- flex-container start -->
                    <div class="container top-bottom-padding-120 flex-container response-999">
                        <!-- column start -->
                        <div class="six-columns six-offset">
                            <div class="content-left-margin-40">
                                <h1 class="large-title-bold">
                                    <span class="slider-title-fill slider-tr-delay01" data-text="SİZE ÖZEL">SİZE ÖZEL</span><br>
                                    <span class="slider-title-fill slider-tr-delay02" data-text="HİZMETLER">HİZMETLER </span><br>
                                </h1>
                                <p class="p-style-bold-up text-height-20 d-flex-wrap">
                                    <span class="slider-title-fill slider-tr-delay04" data-text="İSTEDİĞİNİZ ">İSTEDİĞİNİZ</span>
                                    <span class="slider-title-fill slider-tr-delay05" style="margin-left:7px !important" data-text="TASARIM ">TASARIM</span>
                                    <span class="slider-title-fill slider-tr-delay06" style="margin-left:7px !important" data-text="VE RENKTE">VE RENKTE</span>
                                </p>

                            </div>
                        </div><!-- column end -->
                    </div><!-- flex-container end -->
                </div><!-- home-slider-content end -->
            </div><!-- swiper-slide end -->
            <!-- swiper-slide start -->
            <!-- swiper-slide start -->
        </div><!-- swiper-wrapper end -->
        <!-- swiper-button-next start -->
        <!-- scroll-btn start -->
        <a href="#down" class="scroll-btn pointer-large">
            <div class="scroll-arrow-box">
                <span class="scroll-arrow"></span>
            </div>
            <div class="scroll-btn-flip-box">
                <span class="scroll-btn-flip" data-text="Aşağı">Aşağı</span>
            </div>
        </a><!-- scroll-btn end -->
    </section><!-- home-slider end -->
    <!-- light-bg-1 start -->
    <div id="down" class="dark-bg-2 bottom-padding-30 top-padding-120" data-midnight="black">
        <!-- container start -->
        <!--<div data-animation-container class="container small bottom-padding-60 text-center">
            <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">Recent Works</h2><br>
            <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5" data-animation="fade-anim">We Offer Digital Solutions</p>
        </div><!-- container end -->
        <!-- bottom-padding-90 start -->
        <section class="dark-bg-2 flex-min-height-box _mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important;">
                        <button onclick="window.location.href='tisort-baski'" class="btn btn-danger" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">TİŞÖRT BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important;">
                        <button onclick="window.location.href='semsiye-baski'" class="btn btn-primary" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">ŞEMSİYE BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='tente-baski'" class="btn btn-secondary" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">TENTE VE SAÇAK BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='minder-baski'" class="btn btn-success" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">MİNDER BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='sapka-baski'" class="btn btn-warning" style="height:100% !important;width:100% !important;font-weight:bold !important;color:white !important;font-size: 17px;">ŞAPKA BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='canta-baski'" class="btn btn-info" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">ÇANTA BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='is-elbiseleri-baski'" class="btn btn-danger" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">İŞ ELBİSELERİNE BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='promosyon-ajanda-baski'" class="btn btn-dark" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">AJANDA BASKI VE PROMOSYON ÜRÜNLERİ</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='cardak-cadir-gazebo-baski'" class="btn btn-success" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">ÇARDAK , ÇADIR , GAZEBO BASKI</button>
                    </div>
                    <div class="col-md-6" style="height:130px !important;margin-bottom:15px !important">
                        <button onclick="window.location.href='diger-baski'" class="btn btn-secondary" style="height:100% !important;width:100% !important;font-weight:bold !important;font-size: 17px;">DİĞER ÜRÜNLERE BASKI</button>
                    </div>
                </div>
            </div>
        </section>

    </div><!-- light-bg-1 end -->


</main><!-- animsition-overlay end -->