
@{
    ViewBag.Title = "Golden Reklam Dijital Baskı Merkezi İletişim Bilgileri";
    ViewBag.Description = "Mail: info@goldenreklam.net, Telefon: 0 532 507 06 05, Adres: Molla Hüsrev Mah. Cemal Yener Tosyalı Cad. Esenler İş Hanı No:7/318 Fatih/İstanbul";
    ViewBag.Keywords = "golden reklam,golden reklam telefon, golden reklam iletişim bilgileri, golden reklam iletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "Golden-Logo-last.png";
}

    <main class="animsition-overlay" data-animsition-overlay="true">
        <!-- flex-min-height-box start -->
        <section id="down" class="dark-bg-1 flex-min-height-box">
            <!-- flex-min-height-inner start -->
            <div class="flex-min-height-inner">
                <!-- container start -->
                <div class="container top-padding-120 bottom-padding-60">
                    <div data-animation-container>
                        <h1 class="large-title text-center">
                            <span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="İLETİŞİME GEÇİN">İLETİŞİME GEÇİN</span>
                        </h1>
                        <p data-animation-child class="p-style-small text-color-5 tr-delay03" >Her türlü görüş ve önerinizi bizimle paylaşmanızdan mutluluk duyarız. Whatsapp hattımız üzerinden de her türlü soru, öneri ve şikayetlerinizi bize iletebilirsiniz.</p>
                    </div>

                    <!-- flex-container start -->
                    <div class="flex-container top-padding-90 contact-box">
                        <!-- column start -->
                        <div class="four-columns bottom-padding-60">
                            <div data-animation-container class="content-right-margin-20">
                                <p data-animation-child class="small-title-oswald red-color">Bize Yazın</p>
                                <p class="title-style text-color-4" style="font-size:22px !important">
                                    <span data-animation-child class="tr-delay01" >BİZE</span><br>
                                    <span data-animation-child class="tr-delay02" >E-MAİL İLE</span><br>
                                    <span data-animation-child class="tr-delay03" >ULAŞABİLİRSİNİZ</span><br>

                                </p>
                                <h6 data-animation-child class="flip-btn-box tr-delay04" >
                                    <a href="mailto:info@goldenreklam.net" class="flip-btn pointer-large" data-text="info@goldenreklam.net">info@goldenreklam.net</a>
                                </h6>
                                
                            </div>
                        </div><!-- column end -->
                        <!-- column start -->
                        <div class="four-columns bottom-padding-60">
                            <div data-animation-container class="content-left-right-margin-10">
                                <p data-animation-child class="small-title-oswald red-color" >ZİYARET EDİN</p>
                                <h6 class="title-style text-color-4" style="font-size:22px !important">
                                    <span data-animation-child class="tr-delay01" >MOLLA HÜSREV MAH. </span><br>
                                    <span data-animation-child class="tr-delay02" >CEMAL YENER TOSYALI CAD.</span><br>
                                    <span data-animation-child class="tr-delay03" >ESENLER İŞ HANI NO:7/318 FATİH/İSTANBUL</span>
                                </h6>
                                <div data-animation-child class="flip-btn-box tr-delay04">
                                    <a rel="nofollow" href="https://www.google.com/maps/place/Golden+Reklam+Serigrafi+ve+Bask%C4%B1+Hizmetleri/41.0157257,28.95704,19.6z/data=!4m5!3m4!1s0x14cab98b967503d3:0x1dbe5ad87b3d44f7!8m2!3d41.015828!4d28.957007" class="flip-btn pointer-large" data-text="HARİTALARDA GÖRÜNTÜLE">HARİTALARDA GÖRÜNTÜLE</a>
                                </div>
                            </div>
                        </div><!-- column end -->
                        <!-- column start -->
                        <div class="four-columns bottom-padding-60">
                            <div data-animation-container class="content-left-margin-20">
                                <p data-animation-child class="small-title-oswald red-color">BİZİ ARAYIN</p>
                                <p class="title-style text-color-4" style="font-size:22px !important">
                                    <span data-animation-child class="tr-delay01" >ARAYARAK VEYA</span><br>
                                    <span data-animation-child class="tr-delay02" >WHATSAPP ÜZERİNDEN</span><br>
                                    <span data-animation-child class="tr-delay03" >ULAŞABİLİRSİNİZ</span>
                                </p>
                                <h6 data-animation-child class="flip-btn-box tr-delay04">
                                    <a href="tel:+905325070605" class="flip-btn pointer-large" data-text="+90 532 507 06 05">+90 532 507 06 05</a>
                                </h6>
                                <h6 data-animation-child class="flip-btn-box tr-delay04">
                                    <a href="tel:+905321660449" class="flip-btn pointer-large" data-text="+90 532 166 04 49">+90 532 166 04 49</a>
                                </h6>
                            </div>
                        </div><!-- column end -->
                    </div><!-- flex-container end -->
                </div><!-- container end -->
            </div><!-- flex-min-height-inner end -->
        </section><!-- flex-min-height-box end -->
        <section class="dark-bg-2 flex-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d752.60889201764!2d28.95704!3d41.0157257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab98b967503d3%3A0x1dbe5ad87b3d44f7!2sGolden%20Reklam%20Serigrafi%20ve%20Bask%C4%B1%20Hizmetleri!5e0!3m2!1str!2str!4v1589143761782!5m2!1str!2str" style="width:100% !important; height:300px !important;border:0;" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </main><!-- animsition-overlay end -->
