
@{
    ViewBag.Title = "Golden Reklam Dijital Baskı Merkezi";
    ViewBag.Description = "Firmanıza ve şahsınıza özel tişört,sweatshirt,şapka,şemsiye,minder,çanta,çardak ve tüm promosyon ürünlerini yüksek baskı tekniğiyle sizlere sunuyoruz";
    ViewBag.Keywords = "tişört baskı,şemsiye baskı,tente baskı,mindere baskı,çardak baskı,branda baskı";
    ViewBag.Logo = "Golden-Logo-Son.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="animsition-overlay" data-animsition-overlay="true">
    <!-- home-slider start -->
    <section class="home-slider" id="up">
        <!-- swiper-wrapper start -->
        <div class="swiper-wrapper">
            <!-- swiper-slide start -->
            <!-- swiper-slide start -->
            <div class="swiper-slide flex-min-height-box home-slide">
                <!-- slide-bg -->
                <div class="slide-bg" style="background-image:url(assets/images/backgrounds/tshirt.jpg)"></div>
                <!-- home-slider-content start -->
                <div class="home-slider-content flex-min-height-inner dark-bg-2">
                    <!-- flex-container start -->
                    <div class="container top-bottom-padding-120 flex-container response-999">
                        <!-- column start -->
                        <div class="six-columns six-offset">
                            <div class="content-left-margin-40">
                                <h2 class="large-title-bold">
                                    <span class="slider-title-fill slider-tr-delay01" data-text="SİZE ÖZEL">SİZE ÖZEL </span><br>
                                    <span class="slider-title-fill slider-tr-delay02" data-text="TİŞÖRTLER"> TİŞÖRTLER </span><br>
                                    <span class="slider-title-fill slider-tr-delay03" data-text="ÜRETİYORUZ">ÜRETİYORUZ</span>
                                </h2>
                                <p class="p-style-bold-up text-height-20 d-flex-wrap">
                                    <span class="slider-title-fill slider-tr-delay04" data-text="İSTEDİĞİNİZ ">İSTEDİĞİNİZ </span>
                                    <span class="slider-title-fill slider-tr-delay05" style="margin-left:7px !important" data-text="TASARIM ">TASARIM </span>
                                    <span class="slider-title-fill slider-tr-delay06" style="margin-left:7px !important" data-text="VE RENKTE">VE RENKTE</span>
                                </p>
                                <div class="slider-fade slider-tr-delay04 top-margin-30">
                                    <div class="border-btn-box border-btn-red pointer-large">
                                        <div class="border-btn-inner">
                                            <a href="tisort-baski" class="border-btn" data-text="Detaylı bilgi">DETAYLI BİLGİ</a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!-- column end -->
                    </div><!-- flex-container end -->
                </div><!-- home-slider-content end -->
            </div><!-- swiper-slide end -->
            <div class="swiper-slide flex-min-height-box home-slide">
                <!-- slide-bg -->
                <div class="slide-bg overlay-loading2 overlay-dark-bg-2" style="background-image:url(assets/images/backgrounds/pexels-photo-1806031.jpeg)"></div>
                <!-- home-slider-content start -->
                <div class="home-slider-content flex-min-height-inner dark-bg-2">
                    <!-- flex-container start -->
                    <div class="container top-bottom-padding-120 flex-container response-999">
                        <!-- column start -->
                        <div class="six-columns six-offset">
                            <div class="content-left-margin-40">
                                <h2 class="large-title-bold">
                                    <span class="slider-title-fill slider-tr-delay01" data-text="ÖZEL TASARIM">ÖZEL TASARIM </span><br>
                                    <span class="slider-title-fill slider-tr-delay02" data-text="ŞEMSİYELERDE ">ŞEMSİYELERDE </span><br>
                                    <span class="slider-title-fill slider-tr-delay03" data-text="SON TEKNOLOJİ">SON TEKNOLOJİ</span>
                                </h2>
                                <p class="p-style-bold-up text-height-20 d-flex-wrap">
                                    <span class="slider-title-fill slider-tr-delay04" data-text="İSTEDİĞİNİZ ">İSTEDİĞİNİZ </span>
                                    <span class="slider-title-fill slider-tr-delay05" style="margin-left:7px !important" data-text="TASARIM ">TASARIM </span>
                                    <span class="slider-title-fill slider-tr-delay06" style="margin-left:7px !important" data-text="VE RENKTE">VE RENKTE</span>
                                </p>
                                <div class="slider-fade slider-tr-delay07 top-margin-30">
                                    <div class="border-btn-box border-btn-red pointer-large">
                                        <div class="border-btn-inner">
                                            <a href="semsiye-baski" class="border-btn" data-text="Detaylı Bilgi">Detaylı Bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- column end -->
                    </div><!-- flex-container end -->
                </div><!-- home-slider-content end -->
            </div><!-- swiper-slide end -->

            <div class="swiper-slide flex-min-height-box home-slide">
                <!-- slide-bg -->
                <div class="slide-bg overlay-loading2 overlay-dark-bg-2" style="background-image:url(assets/images/backgrounds/is_elbisesi.jpg)"></div>
                <!-- home-slider-content start -->
                <div class="home-slider-content flex-min-height-inner dark-bg-2">
                    <!-- flex-container start -->
                    <div class="container top-bottom-padding-120 flex-container response-999">
                        <!-- column start -->
                        <div class="six-columns six-offset">
                            <div class="content-left-margin-40">
                                <h2 class="large-title-bold">
                                    <span class="slider-title-fill slider-tr-delay01" data-text="FİRMANIZI ">FİRMANIZI </span><br>
                                    <span class="slider-title-fill slider-tr-delay02" data-text="KURUMSALLAŞTIRIYORUZ">KURUMSALLAŞTIRIYORUZ </span><br>
                                </h2>
                                <p class="p-style-bold-up text-height-20 d-flex-wrap">
                                    <span class="slider-title-fill slider-tr-delay04" data-text="İSTEDİĞİNİZ ">İSTEDİĞİNİZ</span>
                                    <span class="slider-title-fill slider-tr-delay05" style="margin-left:7px !important" data-text="TASARIM ">TASARIM </span>
                                    <span class="slider-title-fill slider-tr-delay06" style="margin-left:7px !important" data-text="VE RENKTE">VE RENKTE</span>
                                </p>
                                <div class="slider-fade slider-tr-delay07 top-margin-30">
                                    <div class="border-btn-box border-btn-red pointer-large">
                                        <div class="border-btn-inner">
                                            <a href="is-elbiseleri-baski" class="border-btn" data-text="Detaylı Bilgi">Detaylı Bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- column end -->
                    </div><!-- flex-container end -->
                </div><!-- home-slider-content end -->
            </div><!-- swiper-slide end -->
            <!-- swiper-slide start -->
            <div class="swiper-slide flex-min-height-box home-slide">
                <!-- slide-bg -->
                <div class="slide-bg" style="background-image:url(assets/images/backgrounds/baski.jpg)"></div>
                <!-- home-slider-content start -->
                <div class="home-slider-content flex-min-height-inner dark-bg-2">
                    <!-- flex-container start -->
                    <div class="container top-bottom-padding-120 flex-container response-999">
                        <!-- column start -->
                        <div class="six-columns six-offset">
                            <div class="content-left-margin-40">
                                <h2 class="large-title-bold">
                                    <span class="slider-title-fill slider-tr-delay01" data-text="EN YENİ ">EN YENİ </span><br>
                                    <span class="slider-title-fill slider-tr-delay02" data-text="& TEKNOLOJİK ">& EN TEKNOLOJİK </span><br>
                                    <span class="slider-title-fill slider-tr-delay03" data-text="BASKI TEKNİKLERİ">BASKI TEKNİKLERİ </span>
                                </h2>
                                <div class="slider-fade slider-tr-delay04 top-margin-30">
                                    <div class="border-btn-box pointer-large">
                                        <div class="border-btn-inner">
                                            <a href="baski-teknikleri" class="border-btn" data-text="Detaylı bilgi">DETAYLI BİLGİ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- column end -->
                    </div><!-- flex-container end -->
                </div><!-- home-slider-content end -->
            </div><!-- swiper-slide end -->
            <!-- swiper-slide start -->
        </div><!-- swiper-wrapper end -->
        <!-- swiper-button-next start -->
        <div class="swiper-button-next">
            <div class="slider-arrow-next-box">
                <span class="slider-arrow-next"></span>
            </div>
        </div><!-- swiper-button-next end -->
        <!-- swiper-button-prev start -->
        <div class="swiper-button-prev">
            <div class="slider-arrow-prev-box">
                <span class="slider-arrow-prev"></span>
            </div>
        </div><!-- swiper-button-prev end -->
        <!-- swiper-pagination -->
        <div class="swiper-pagination"></div>

        <!-- scroll-btn start -->
        <a href="#down" class="scroll-btn pointer-large">
            <div class="scroll-arrow-box">
                <span class="scroll-arrow"></span>
            </div>
            <div class="scroll-btn-flip-box">
                <span class="scroll-btn-flip" data-text="Aşağı">Aşağı</span>
            </div>
        </a><!-- scroll-btn end -->
    </section><!-- home-slider end -->
    <!-- section start -->
    <section id="down" class="dark-bg-2 top-bottom-padding-120">
        <!-- container start -->
        <div data-animation-container class="text-center container small">
            <h2 data-animation-child class="large-title text-height-10 title-fill" data-animation="title-fill-anim" data-text="NELER YAPABİLİRİZ?">NELER YAPABİLİRİZ?</h2><br>
            <p data-animation-child class="tr-delay02 xsmall-title-oswald top-margin-5 title-fill" data-animation="title-fill-anim" data-text="ÖZEL ÇÖZÜMLER">ÖZEL ÇÖZÜMLER</p>
            <p data-animation-child class="text-color-5 p-style-small tr-delay04" data-animation="fade-anim"><h1 style="font-size: 14px !important;color: #bcbdbd !important;line-height: 2.15 !important;font-weight: 400 !important;letter-spacing: 1px !important;font-family: 'Open Sans', sans-serif !important;">Firmanıza veya şahsınıza özel olarak tasarlanmış ürünleri üretiyoruz. Firmanıza özel tişört, sweatshirt, şapka, şemsiye, minder, çanta, tente, gölgelik, çardak, sticker baskılar ve tüm promosyon ürünlerini en yüksek baskı teknikleriyle sizlere sunuyoruz.</h1></p>
        </div><!-- container end -->
        <!-- portfolio-slider2 start -->
        <div class="portfolio-slider2 top-bottom-padding-90">
            <!-- swiper-wrapper start -->
            <div class="swiper-wrapper">
                <!-- slide start -->
                <a href="baski-teknikleri" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/baski2.jpg" alt="Dijital Baskı">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">BASKI TEKNİKLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">KALİTELİ VE MODERN</span>
                            </span>
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">BASKI TEKNİKLERİ</span>
                            </span>
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-03"></span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="is-elbiseleri-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/is_kiyafeti.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">ŞİRKETİNİZ İÇİN</span>
                            </span>
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">İŞ ELBİSELERİ</span>
                            </span>
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-03"></span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="tente-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/tente2.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">TENTE</span>
                            </span>
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">GÖLGELİK, ŞEMSİYE</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="diger-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/onluk.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box d-block red-color text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">KİŞİYE ÖZEL</span>
                            </span>
                            <span class="hidden-box d-block red-color text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">ÖNLÜKLER</span>
                            </span>

                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="sapka-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/sapka.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">PROMOSYON</span>
                            </span>
                            <span class="hidden-bo red-color x d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">ŞAPKALAR</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="semsiye-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/semsiye.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">CAFE VE RESTORANTLAR</span>
                            </span>
                            <span class="hidden-box red-color  d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">İÇİN ŞEMSİYE</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="tisort-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/tshirt.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">KİŞİYE ÖZEL</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">KALİTELİ TİŞÖRTLER</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="canta-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/canta.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">DOĞA DOSTU</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">ÇANTALAR</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="baski-teknikleri" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects//slider/baski.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">BASKI TEKNİKLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">SERİGRAFİ</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">BASKI TEKNİĞİ</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="minder-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/minder.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">KALİTELİ KUMAŞ</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">VE</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-03">BASKILI YER MİNDERLERİ</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="semsiye-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/semsiye2.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">CAFELERİNİZE ÖZEL</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">BASKILI ŞEMSİYELER</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="tente-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/tente3.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">TENTE, GÖLGELİK</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">VE BRANDALAR</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="baski-teknikleri" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/baski3.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">BASKI TEKNİKLERİ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">KALİTELİ VE MODERN</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">BASKI TEKNİKLERİ</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-03">(BAS-KES)</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="tisort-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/tshirt2.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">ÖZEL YAPIM</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">TİŞÖRTLER ÜRETİYORUZ</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
                <!-- slide start -->
                <a href="tente-baski" class="swiper-slide hover-box animsition-link pointer-large">
                    <div class="hidden-box">
                        <img class="hover-img" src="assets/images/projects/slider/tente4.jpg" alt="project">
                    </div>
                    <div class="portfolio-slider2-content">
                        <span class="small-title-oswald red-color portfolio-slider-overlay">HİZMETLERİMİZ</span>
                        <h2 class="title-style text-color-4" style="color:black !important">
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-01">TENTE</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-02">VE</span>
                            </span>
                            <span class="hidden-box red-color d-block text-height-10">
                                <span class="portfolio-slider-fade portfolio-slider-tr-03">GÖLGE SİSTEMLERİ</span>
                            </span>
                        </h2>
                    </div>
                </a><!-- slide end -->
            </div><!-- swiper-wrapper end -->
            <!-- swiper-button-next start -->
            <div class="swiper-button-next">
                <div class="slider-arrow-next-box">
                    <span class="slider-arrow-next"></span>
                </div>
            </div><!-- swiper-button-next end -->
            <!-- swiper-button-prev start -->
            <div class="swiper-button-prev">
                <div class="slider-arrow-prev-box">
                    <span class="slider-arrow-prev"></span>
                </div>
            </div><!-- swiper-button-prev end -->
        </div><!-- portfolio-slider2 end -->
    </section><!-- dark-bg-2 end -->
    <!-- section start -->
    <section class="dark-bg-2">
        <!-- container start -->
        <div class="container small top-bottom-padding-120">
            <!-- medium-title start -->
            <h2 data-animation-container class="medium-title">
                <span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="BİZİMLE ÇALIŞANLAR">BİZİMLE ÇALIŞANLAR</span><br>
            </h2><!-- medium-title end -->
            <!-- client-list start -->
            <ul class="client-list d-flex-wrap top-padding-60">
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/digiturk.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/digiturk_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/ibb.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/ibb_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/coke.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/coke_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/alpiro.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/alpiro_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/amerikankultur.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/amerikankultur_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/bigmamas.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/bigmamas_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/blutv.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/blutv_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/caribou.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/caribou_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/divan.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/divan_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/greentous.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/greentous_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/pepsi.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/pepsi_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pointer-large d-block">
                        <div class="brand-box">
                            <img src="assets/images/clients/turkcell.png" alt="Brand" class="hover-opac-img">
                            <img src="assets/images/clients/turkcell_hover.png" alt="Brand" class="opac-img">
                        </div>
                    </a>
                </li>

                <!--<li class="empty-spot-box">
                    <a data-animation-container href="#" class="pointer-large p-style-bold-up empty-spot d-block">
                        <span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="This spot">This spot</span>
                        <span data-animation-child class="title-fill tr-delay01" data-animation="title-fill-anim" data-text="Awaits">Awaits</span>
                        <span data-animation-child class="title-fill tr-delay02" data-animation="title-fill-anim" data-text="You">You</span>
                    </a>
                </li>-->
            </ul><!-- client-list end -->
        </div><!-- container end -->
    </section><!-- section end -->
</main><!-- animsition-overlay end -->
