
@{
    ViewBag.Title = "Özel Tasarım Tişört  & Promosyon Tişört & Baskılı Tişört";
    ViewBag.Description = "Kişiye özel baskılı tişörtler. Desenli,yuvarlak yaka,polo yaka,sweatsihrt,kapüşonlu modellerimiz  ve uygun fiyat seçenekleriyle";
    ViewBag.Keywords = "promosyon tişört,tişört baskı,baskılı tişört,tişört tasarla,ucuz tişört baskı,kaliteli tişört baskı,toptan tişört,kapşonlu tişört";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "Golden-Logo-last.png";
}

<main class="animsition-overlay" data-animsition-overlay="true">

    <!-- light-bg-1 start -->
    <div id="down" class="dark-bg-2 bottom-padding-30 top-padding-120" data-midnight="black">
        <!-- container start -->
        <!--<div data-animation-container class="container small bottom-padding-60 text-center">
        <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">Recent Works</h2><br>
        <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5" data-animation="fade-anim">We Offer Digital Solutions</p>
    </div><!-- container end -->
        <!-- bottom-padding-90 start -->
        <div data-animation-container class="text-center container small">
            <h1 data-animation-child class="large-title text-height-10 title-fill" data-animation="title-fill-anim" data-text="TİŞÖRT BASKI">TİŞÖRT BASKI</h1><br>
            
            <!--<div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
            <a href="#" class="arrow-btn pointer-large animsition-link">Read more</a>
        </div>-->

        </div>
    <br />
        <div class="container">

            <!-- filter-buttons start -->
            <!-- filter-buttons end -->
            <!-- works start -->
            <div class="works">
                <!-- grid-item start -->
                <a class="grid-item uiux">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt20.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item branding">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt21.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt19.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item uiux">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt18.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item branding">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt17.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt16.jpg" alt="Tişört Baskı">
                       
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item uiux">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt15.jpg" alt="Tişört Baskı">
                       
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item branding">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt14.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt13.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item uiux">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt12.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item branding">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt11.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt10.jpg" alt="Tişört Baskı">
                       
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt9.jpg" alt="Tişört Baskı">
                       
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt9.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt7.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt6.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt5.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tsihrt4.jpg" alt="Tişört Baskı">
                       
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tshirt3.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tshirt2.jpg" alt="Tişört Baskı">
                       
                    </div>
                </a><!-- grid-item end -->
                <!-- grid-item start -->
                <a class="grid-item marketing">
                    <div class="work_item pointer-large hover-box hidden-box">
                        <img class="hover-img" src="~/assets/images/projects/slider/tshirt.jpg" alt="Tişört Baskı">
                        
                    </div>
                </a><!-- grid-item end -->

            </div><!-- works end -->
        </div><!-- container end -->


        <div data-animation-container class="text-center container small">
            <p data-animation-child class="text-color-5 p-style-small tr-delay04" data-animation="fade-anim">Kaliteli kumaştan ürettiğimiz tişörtlerimize kurumunuzun logosunu veya istediğiniz bir sloganı transfer,dijital veya serigrafi baskı tekniğiyle uygulamaktayız. Tişörtlerimizin her rengi stoklarımızda mevcut olup,istenilen beden ve renk seçenekleriyle müşterilerime en uygun fiyat teklifleriyle hizmet vermekteyiz. Polo yaka,yuvarlak yaka,V yaka,kapşonlu sweatsihrtlerimiz her bedenden ve renkten mevcuttur. Ayrıca organizasyonlarınız  ve etkinlikleriniz için promosyon tişörtlerimiz mevcuttur.</p>

            <!--<div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
            <a href="#" class="arrow-btn pointer-large animsition-link">Read more</a>
        </div>-->

        </div>












    </div><!-- column end -->


</main><!-- animsition-overlay end -->
