<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="CografyaConnectionString" connectionString="Data Source=.;Initial Catalog=Cografya;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DB141111123024ConnectionString" connectionString="Data Source=185.150.128.39;Initial Catalog=emrebnzr_benzer;User ID=ecommerce;Password=ecommerce123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
