.cs80D9435B{text-align:justify;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs79E03524{color:#000000;background-color:transparent;font-family:Comic Sans MS;font-size:10pt;font-weight:bold;font-style:normal;}
.cs224B6BD5{color:#000000;background-color:transparent;font-family:Comic Sans MS;font-size:10pt;font-weight:normal;font-style:normal;}
.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs16473C0F{color:#000000;background-color:transparent;font-family:Comic Sans MS;font-size:10pt;font-weight:bold;font-style:normal;text-decoration: underline;}
.cs4A4B591{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt;line-height:1}
.cs80589984{color:#000000;background-color:transparent;font-family:Comic Sans MS;font-size:10pt;font-weight:normal;font-style:normal;text-decoration: underline;}
.cs1D4576E1{color:#000000;background-color:#FFFFFF;font-family:Comic Sans MS;font-size:10pt;font-weight:bold;font-style:normal;}
.cs85D4745B{color:#000000;background-color:#FFFFFF;font-family:Comic Sans MS;font-size:10pt;font-weight:normal;font-style:normal;}
.csBCA4154D{color:#000000;background-color:#FFFFFF;font-family:Comic Sans MS;font-size:10pt;font-weight:normal;font-style:italic;}
.csFA320ABF{color:#000000;background-color:transparent;font-family:Comic Sans MS;font-size:10pt;font-weight:normal;font-style:italic;}
.cs56AF5B99{text-align:left;text-indent:0pt;margin:0pt -6pt 0pt 0pt;line-height:1}
.csEA73B396{text-align:left;text-indent:0pt;margin:0pt -4pt 0pt 0pt;line-height:1}
.csEA662A9E{text-align:left;text-indent:9pt;margin:0pt 0pt 0pt -9pt;line-height:1}
.cs2D2816FE{}
.cs17318216{width:43.2pt;padding:0pt 5.4pt 0pt 5.4pt;border-top:1pt #000000 solid;border-right:1pt #000000 solid;border-bottom:1pt #000000 solid;border-left:1pt #000000 solid}
.cs1F626262{width:43.25pt;padding:0pt 5.4pt 0pt 5.4pt;border-top:1pt #000000 solid;border-right:1pt #000000 solid;border-bottom:1pt #000000 solid;border-left:1pt #000000 solid}
